<include src="layout/head.html" title="Wireframe | Surge Media"></include>

<include src="navs/navbar.html" id="navbar" 
brand="Mitchell And Associates Accountants" 
navLocation="pull-right" >
    <li><a href="/templates/layouts/home.html">Home</a></li>

    <li><a href="/templates/layouts/about.html">About</a></li>
    <li><a href="/templates/layouts/services.html">Services</a></li>
    <li><a href="/templates/layouts/resources.html">Resources</a></li>
    <li><a href="/templates/layouts/contact.html">Contact</a></li>
</include>

<include src="containers/jumbotron-no-button.html" id="jumbotron-home" title="About us" innerClass="container" styles="background:url('https://unsplash.it/g/1920/600?image=743')"  >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum numquam dicta ut, quisquam in, consectetur vitae tempore odio corporis labore saepe perferendis fuga neque, debitis ab voluptates minus ratione.</include>
<section class="text-bump">
<div id="share" class="container">
<include src="buttons/buttons-sharebar.html" ></include>
</div>
</section>
<section class="">
    <div class="container">
        <h1 class="col-lg-12 text-bump">We work with you</h1>
        <p class="col-lg-6">
            Treated like an animal, it took years for him to control himself. Looking for the one superhero comic you just have to read. This is where youll find all the big-time action, major storylines and iconic Spider-Man magic youd come to expect from the Wall-Crawler. Marvels mighty mutants go worldwide and beyond in this series following Cyclops, Wolverine, Beast, Emma Frost and more in their astonishing adventures.</p>
           
 <p class="col-lg-6">
Meet all of Spideys deadly enemies, from the Green Goblin and Doctor Octopus to Venom and Carnage, plus see Peter Parker fall in love, face tragedy and triumph, and learn that with great power comes great responsibility. Youve found it. Now, hes a premiere member of both the X-Men and the Avengers. Amazing Spider-Man is the cornerstone of the Marvel Universe.
</p>

</div>
</section>
<div id="logos-wrapper" style="background:url('https://unsplash.it/1920/400?image=737')" >
<div class="container">
   
<div id="logos" class="" >
  <h3 class="col-lg-12 text-bump text-center">Our Accedidations</h3>
 <div id="logos" class="col-lg-6 col-md-offset-3">
            <img class="col-xs-3"src="http://www.usfsp.edu/ktcob/files/2013/10/About_Accreditations_1-180x180.jpg" alt="">
            <img class="col-xs-3"src="http://www.biggreenbook.com/images/accreditations/FSB_logo.gif" alt="">
            <img class="col-xs-3"src="http://www.massey.ac.nz/massey/fms/Colleges/College%20of%20Business/School%20of%20Accountancy/images/ACCA/ACCA.JPG?37C2752C42FABEFB54923762B7B252CA.jpg" alt="">
            <img class="col-xs-3" src="https://bandt-au.s3.amazonaws.com/information/uploads/2014/07/CA_RG_Graphic_RGB_HR1.jpg?5fbcd8" alt="">

        </div>
  </div>
</div>
</div>
<section>
 <div class="container">
        <h1 class="col-lg-12 text-bump text-left">How we can help you</h1>
        <p class="col-lg-6">
            Treated like an animal, it took years for him to control himself. Looking for the one superhero comic you just have to read. This is where youll find all the big-time action, major storylines and iconic Spider-Man magic youd come to expect from the Wall-Crawler. Marvels mighty mutants go worldwide and beyond in this series following Cyclops, Wolverine, Beast, Emma Frost and more in their astonishing adventures.</p>
           
 <p class="col-lg-6">
Meet all of Spideys deadly enemies, from the Green Goblin and Doctor Octopus to Venom and Carnage, plus see Peter Parker fall in love, face tragedy and triumph, and learn that with great power comes great responsibility. Youve found it. Now, hes a premiere member of both the X-Men and the Avengers. Amazing Spider-Man is the cornerstone of the Marvel Universe.
</p>

</div>
</section>

<include id="footer" outsideId="small-footer" src="layout/footer.html"  ></include>
<include src="layout/foot.html" ></include>