<include src="layout/head.html" title="Wireframe | Surge Media"></include>

<include src="navs/navbar.html" id="navbar" 
brand="Mitchell And Associates Accountants" 
navLocation="pull-right" >
 	<li><a href="/templates/layouts/home.html">Home</a></li>
    <li><a href="/templates/layouts/about.html">About</a></li>
    <li><a href="/templates/layouts/services.html">Services</a></li>
    <li><a href="/templates/layouts/resources.html">Resources</a></li>
    <li><a href="/templates/layouts/contact.html">Contact</a></li>
</include>

<include src="containers/jumbotron.html" id="jumbotron-home" title="Trust is built with consistency" innerClass="container" linkText="Start with someone You Can Trust" styles="background:url('https://unsplash.it/g/1920/600?image=464')" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum numquam dicta ut, quisquam in, consectetur vitae tempore odio corporis labore saepe perferendis fuga neque, debitis ab voluptates minus ratione.</include>
<section id="card-area" class="bg-grey">
    <div class="container ">
    <h1 class="text-center text-bump">How can we help you</h1>
        

        <include src="containers/card.html" img="https://unsplash.it/315/190?image=101" heading="Bussiness Accounting" col="col-sm-12 col-xs-12 col-md-4 col-lg-4"><p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        <ul class="col-lg-12">
            <li>Starting up a Bussiness</li>
            <li>Running a Bussiness</li>
            <li>Selling a Bussiness</li>
        </ul>
        </include>


        <include src="containers/card.html" img="https://unsplash.it/315/190?image=102" heading="Person Accounting" col="col-sm-12 col-xs-12 col-md-4 col-lg-4"><p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        <ul>
           <li>Tax Returns</li>
           <li>investments</li>
           <li>SMSF</li>
        </ul>
        </include>
        <include src="containers/card.html" img="https://unsplash.it/315/190?image=103" heading="Financal Planning " col="col-sm-12 col-xs-12 col-md-4 col-lg-4"><p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        <ul>
            <li>Super &amp; SMSF</li>
            <li>Savings Plans</li>
            <li>Insurance</li>
       
        </ul>
        </include>
    </div>
</section>
<section>
    <div class="container section-bump">
        <h1 class="col-lg-12">Mitchell And Associates Accountants</h1>
        <div class="col-lg-6">
            <p class="col-lg-12 row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nam quos obcaecati, temporibus nemo eveniet esse quis sit hic, enim et illo, possimus est sed numquam optio, tempora minima aliquid.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae soluta quisquam, doloribus. Cumque asperiores dolorum nihil reiciendis maiores quaerat quos suscipit, nam, tenetur sapiente in corporis qui neque. Harum, laudantium.
            <div class="col-lg-12 row">
                <a href="#" class="btn btn-primary">
                Learn more about us
                </a>
            </div>
            </p>
        </div>
        <div id="logos" class="col-lg-6">
            <img class="col-xs-3"src="http://www.usfsp.edu/ktcob/files/2013/10/About_Accreditations_1-180x180.jpg" alt="">
            <img class="col-xs-3"src="http://www.biggreenbook.com/images/accreditations/FSB_logo.gif" alt="">
            <img class="col-xs-3"src="http://www.massey.ac.nz/massey/fms/Colleges/College%20of%20Business/School%20of%20Accountancy/images/ACCA/ACCA.JPG?37C2752C42FABEFB54923762B7B252CA.jpg" alt="">
            <img class="col-xs-3" src="https://bandt-au.s3.amazonaws.com/information/uploads/2014/07/CA_RG_Graphic_RGB_HR1.jpg?5fbcd8" alt="">
        </div>
    </div>
</section>
<section class="bg-grey ">
    <div class="container">
    <h2 class="text-bump">Contact us Today</h2>
<include src="forms/form-full.html"  ></include>
</div>
</section>
<!-- <section id="services" class="bg-grey section-bump">
    <div class="container">
        <h1 class="col-lg-12">Services</h1>
        <div class="col-lg-6 ">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <i class="fa fa-hourglass-end media-object"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tax Stuff</h4>
                   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio cumque debitis suscipit, alias excepturi.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <i class="fa fa-balance-scale media-object"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tax Stuff</h4>
                   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio cumque debitis suscipit, alias excepturi.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <i class="fa fa-send media-object"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tax Stuff</h4>
                 <p>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio cumque debitis suscipit, alias excepturi.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="col-lg-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nam quos obcaecati, temporibus nemo eveniet esse quis sit hic, enim et illo, possimus est sed numquam optio, tempora minima aliquid.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae soluta quisquam, doloribus. Cumque asperiores dolorum nihil reiciendis maiores quaerat quos suscipit, nam, tenetur sapiente in corporis qui neque. Harum, laudantium.
            <div class="col-lg-12">
                <a href="#" class="btn btn-primary">
                Learn More
                </a>
            </div>
            </p>
        </div>
    </div>
</section> -->
<section>
</section>
<include id="footer" outsideId="small-footer" src="layout/footer.html"  ></include>
<include src="layout/foot.html" ></include>