<include src="layout/head.html" title="Wireframe | Surge Media"></include>

<include src="navs/navbar.html" id="navbar" 
brand="Mitchell And Associates Accountants" 
navLocation="pull-right" >
 	<li><a href="/templates/layouts/home.html">Home</a></li>
    <li><a href="/templates/layouts/about.html">About</a></li>
    <li><a href="/templates/layouts/services.html">Services</a></li>
    <li><a href="/templates/layouts/resources.html">Resources</a></li>
    <li><a href="/templates/layouts/contact.html">Contact</a></li>
</include>

<include src="containers/jumbotron-no-button.html" id="jumbotron-home" title="Resources" innerClass="container" linkText="Start with someone You Can Trust" styles="background:url('https://unsplash.it/1920/600?image=563')" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum numquam dicta ut, quisquam in, consectetur vitae tempore odio corporis labore saepe perferendis fuga neque, debitis ab voluptates minus ratione.</include>
<section id="card-area" class="bg-grey">
    <div class="container ">
    <div class="row">
        <include src="containers/card-post.html" img="https://unsplash.it/315/190?image=111" comment="Posted by" companyName="John Doe" heading="Example Post" col="col-sm-12 col-xs-12 col-md-4 col-lg-4">Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</include>
        <include src="containers/card-post.html" img="https://unsplash.it/315/190?image=122" comment="Posted by" companyName="John Doe" heading="Example Post" col="col-sm-12 col-xs-12 col-md-4 col-lg-4">Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</include>
        <include src="containers/card-post.html" img="https://unsplash.it/315/190?image=133" comment="Posted by" companyName="John Doe" heading="Example Post" col="col-sm-12 col-xs-12 col-md-4 col-lg-4">Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</include>
</div>
<div class="row">
        <include src="containers/card-post.html" img="https://unsplash.it/315/190?image=101" comment="Posted by" companyName="John Doe" heading="Example Post" col="col-sm-12 col-xs-12 col-md-4 col-lg-4">Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</include>
        <include src="containers/card-post.html" img="https://unsplash.it/315/190?image=102" comment="Posted by" companyName="John Doe" heading="Example Post" col="col-sm-12 col-xs-12 col-md-4 col-lg-4">Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</include>
        <include src="containers/card-post.html" img="https://unsplash.it/315/190?image=103" comment="Posted by" companyName="John Doe" heading="Example Post" col="col-sm-12 col-xs-12 col-md-4 col-lg-4">Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</include>
</div>
    </div>
</section>


<include id="footer" outsideId="small-footer" src="layout/footer.html"  ></include>
<include src="layout/foot.html" ></include>