<include src="layout/head.html" title="Services | Surge Media"></include>

<include src="navs/navbar.html" id="navbar" 
brand="Mitchell And Associates Accountants" 
navLocation="pull-right" >
    <li><a href="/templates/layouts/home.html">Home</a></li>

    <li><a href="/templates/layouts/about.html">About</a></li>
    <li><a href="/templates/layouts/services.html">Services</a></li>
    <li><a href="/templates/layouts/resources.html">Resources</a></li>
    <li><a href="/templates/layouts/contact.html">Contact</a></li>
</include>

<include src="containers/jumbotron-no-button.html" id="jumbotron-home" title="Business Accounting" innerClass="container" styles="background:url('https://unsplash.it/1920/600?image=243')"  >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum numquam dicta ut, quisquam in, consectetur vitae tempore odio corporis labore saepe perferendis fuga neque, debitis ab voluptates minus ratione.</include>
<section class="text-bump">
</div>
</section>
<section class="">
    <div class="container">
    <div id="share" >
<include src="buttons/buttons-sharebar.html" ></include>
</div>
        <h1 class="col-lg-12 text-bump">Starting a Business</h1>

        <div class="col-lg-6">


        <include src="containers/accordion.html" id="example0" heading="heading0" collapse="colapse0" title="Example Plan" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>


        <include src="containers/accordion.html" id="example1" heading="heading1" collapse="colapse1" title="another option" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
        <include src="containers/accordion.html" id="example2" heading="heading2" collapse="colapse2" title="Testing More" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
         </div>
           
 <p class="col-lg-6">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
</p>

</div>
</section>

<section class="bg-grey">
 <div class="container">
        <h1 class="col-lg-12 text-bump text-left">Running a Business</h1>
        <p class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.</p>
           
 <div class="col-lg-6">
 <include src="containers/accordion.html" id="examples0" heading="headings0" collapse="colapses0" title="Cool services" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
        <include src="containers/accordion.html" id="examples1" heading="headings1" collapse="colapses1" title="More Plan" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
        <include src="containers/accordion.html" id="examples2" heading="headings2" collapse="colapses2" title="Exciting subscriptions" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
</div>

</div>
</section>
<!-- TODO: colpase ids -->
<section class="">
 <div class="container">
        <h1 class="col-lg-12 text-bump text-left">Selling a Business</h1>
        <p class="col-lg-6">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.</p>
           
 <div class="col-lg-6">
 <include src="containers/accordion.html" id="examplesq0" heading="headingsq0" collapse="colapsesq0" title="Cool services" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
        <include src="containers/accordion.html" id="examplesq1" heading="headingsq1" collapse="colapsesq1" title="More Plan" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
        <include src="containers/accordion.html" id="examplesq2" heading="headingsq2" collapse="colapsesq2" title="Exciting subscriptions" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi numquam architecto at laudantium molestiae, possimus maiores accusantium, ipsam a beatae aut quae repellendus labore maxime in quia vero expedita.
        </include>
</div>

</div>
</section>
<section class="bg-grey ">
    <div class="container">
    <h2 class="text-bump">Contact us Today</h2>
<include src="forms/form-full.html"  ></include>
</div>
</section>

<include id="footer" outsideId="small-footer" src="layout/footer.html"  ></include>
<include src="layout/foot.html" ></include>