<div id="@@id" class="container-fluid">
  <div class="container">
    <div class="row">
      <ul>
        <li class="col-lg-3">
          <span>Footer Header</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti debitis odit esse eaque ut. Nobis eius quaerat suscipit nostrum, inventore adipisci recusandae vero, veniam magnam et officia veritatis aliquid numquam!</p>
        </li>
        <li class="col-lg-3">
          <span>Footer Header</span>
          <p>Nesciunt assumenda est omnis hic, ratione optio molestiae consequuntur maiores, non deserunt similique enim ad molestias, vel dolores labore excepturi. Saepe vero quos vel, quae mollitia accusantium fugiat assumenda nesciunt.</p>
        </li>
        <li class="col-lg-3">
          <span>Footer Headering</span>
          <p>Laboriosam, ut! Repellendus pariatur, debitis ratione enim mollitia accusamus, laudantium, quisquam corrupti sapiente sunt perferendis quia quis rerum minima? Deserunt, perferendis. Eveniet inventore quas harum beatae reprehenderit maiores, quibusdam repellat.</p>
        </li>
        <li class="col-lg-3">
          <span>Another Heading</span>
          <p>Voluptatibus recusandae aperiam adipisci unde! Veritatis sequi sit dolores enim maiores mollitia possimus quisquam ut ipsum omnis, veniam eum tenetur, rem officia ab illum facilis deserunt minus provident odio quo.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="@@outsideId" class="container-fluid outside-footer bg-grey ">
  <footer class="footer">
      <div class="container">
       
        <p>@ copyright 2015 | @@brand</p>
      </div>
    </footer>
  </div>