.brand {
    text-align: center;
}
#mega-menu-primary_navigation{
	background: #e5e5e5 !important;

}

.navbar-default{
	width:100%;
}
.mega-menu-toggle{
	position: absolute;
  top: -64px;
}
.contact-icons{
	position: absolute;
  right: 0;
  top: 18px;
}
