.fluid-container{
  height: 130px;
}
.navbar-default{
	width:100%;
}
.mega-menu-toggle{
	position: absolute;
  top: -21px;
}
.contact-icons{
	position: absolute;
  right: 10px;
  top: 68px;
  width: 170px;
  text-align: left;

}
.icon-envelope{
  div{
    right: 4em;
  }
 } 
.brand {
 
 height: 37px;
 img{
 	width: 280px;
 }
}
#mega-menu-primary_navigation{
	
    position: absolute !important;
    top: 34px !important;
    width: 100% !important;
    left: -25px !important;
}
h1{
  font-size:37px !important;
}
p{
  font-size: 16px !important;
}
.info{
  .content{
    height: 135px;
  }
  a{
    font-size: 16px;
  }
}
.form-field{

  div, label{
    width: 100%;
  }

} 
.logos{
  padding-left: 0;
  li{
    margin:0 !important;
    div{
      img{
        width: 17vw;
      }
    }
  }
}
.contact{
  div{
    padding: 0;
  }
  .content{
    padding: 0 !important;
  }
  .form{
    padding: 2em 0.2em 1em .5em;
  }
}
.hero p:last-child {
    padding-top: 1em;
}
/*================================
=            Services            =
================================*/
.nav-tabs{
  li{
    a{ 
      small{display:none;}
      i{font-size: 2.5em;}  
    }
  }
}
.tab-content{
padding: 3em 1em 3em 1em;
}