<!DOCTYPE html>
<html class=" -class ">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Wireframe | Surge Media | Surge Media</title>

		<!-- Bootstrap CSS -->
		<link href="/MIT04331/render/skin.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

<nav id="navbar" class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://bootswatch.com/default/#">Mitchell And Associates Accountants</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/MIT04331/render/templates/home.html">Home</a></li>
                <li><a href="/MIT04331/render/templates/about.html">About</a></li>
                <li><a href="/MIT04331/render/templates/services.html">Services</a></li>
                <li><a href="/MIT04331/render/templates/resources.html">Resources</a></li>
                <li><a href="/MIT04331/render/templates/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="jumbotron-home" class="jumbotron  img-bg"  style="background:url('https://unsplash.it/g/1920/600?image=444')">
 <div class="container">
  <h1>Trust is built with consistency</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum numquam dicta ut, quisquam in, consectetur vitae tempore odio corporis labore saepe perferendis fuga neque, debitis ab voluptates minus ratione.</p>
  <p><a href="  " class="btn btn-primary btn-lg">Start with someone You Can Trust</a></p>
  </div>
</div>
<section id="card-area" class="bg-grey">
    <div class="container ">
    <h1 class="text-center text-bump">How can we help you</h1>
        

        <div class="card col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=101" alt="">
        	<header>
        		<h2>Bussiness Accounting</h2>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        <ul class="col-lg-12">
            <li>Starting up a Bussiness</li>
            <li>Running a Bussiness</li>
            <li>Selling a Bussiness</li>
        </ul>
        
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        		</a>
        	</footer>
        </div>


        <div class="card col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=102" alt="">
        	<header>
        		<h2>Person Accounting</h2>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        <ul>
           <li>Tax Returns</li>
           <li>investments</li>
           <li>SMSF</li>
        </ul>
        
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        		</a>
        	</footer>
        </div>
        <div class="card col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=103" alt="">
        	<header>
        		<h2>Financal Planning </h2>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        <ul>
            <li>Super &amp; SMSF</li>
            <li>Savings Plans</li>
            <li>Insurance</li>
       
        </ul>
        
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        		</a>
        	</footer>
        </div>
    </div>
</section>
<section>
    <div class="container section-bump">
        <h1 class="col-lg-12">Mitchell And Associates Accountants</h1>
        <div class="col-lg-6">
            <p class="col-lg-12 row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nam quos obcaecati, temporibus nemo eveniet esse quis sit hic, enim et illo, possimus est sed numquam optio, tempora minima aliquid.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae soluta quisquam, doloribus. Cumque asperiores dolorum nihil reiciendis maiores quaerat quos suscipit, nam, tenetur sapiente in corporis qui neque. Harum, laudantium.
            <div class="col-lg-12 row">
                <a href="#" class="btn btn-primary">
                Learn more about us
                </a>
            </div>
            </p>
        </div>
        <div id="logos" class="col-lg-6">
            <img class="col-xs-3"src="http://www.usfsp.edu/ktcob/files/2013/10/About_Accreditations_1-180x180.jpg" alt="">
            <img class="col-xs-3"src="http://www.biggreenbook.com/images/accreditations/FSB_logo.gif" alt="">
            <img class="col-xs-3"src="http://www.massey.ac.nz/massey/fms/Colleges/College%20of%20Business/School%20of%20Accountancy/images/ACCA/ACCA.JPG?37C2752C42FABEFB54923762B7B252CA.jpg" alt="">
            <img class="col-xs-3" src="https://bandt-au.s3.amazonaws.com/information/uploads/2014/07/CA_RG_Graphic_RGB_HR1.jpg?5fbcd8" alt="">
        </div>
    </div>
</section>
<section class="bg-grey ">
    <div class="container">
    <h2 class="text-bump">Contact us Today</h2>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Full Name</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Enter your full name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Service</label>
                </div>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option>Option 1 </option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Email</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Phone</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Phone number">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Enquiry</label>
                </div>
                <div class="col-sm-10">
                  <textarea class="form-control" style="height:250px;"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success pull-right">Send
                    <i class="fa fa-fw fa-send-o"></i>
                  </button>
                </div>
              </div>
            </form>
</div>
</section>
<!-- <section id="services" class="bg-grey section-bump">
    <div class="container">
        <h1 class="col-lg-12">Services</h1>
        <div class="col-lg-6 ">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <i class="fa fa-hourglass-end media-object"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tax Stuff</h4>
                   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio cumque debitis suscipit, alias excepturi.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <i class="fa fa-balance-scale media-object"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tax Stuff</h4>
                   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio cumque debitis suscipit, alias excepturi.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <i class="fa fa-send media-object"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tax Stuff</h4>
                 <p>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio cumque debitis suscipit, alias excepturi.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="col-lg-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nam quos obcaecati, temporibus nemo eveniet esse quis sit hic, enim et illo, possimus est sed numquam optio, tempora minima aliquid.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae soluta quisquam, doloribus. Cumque asperiores dolorum nihil reiciendis maiores quaerat quos suscipit, nam, tenetur sapiente in corporis qui neque. Harum, laudantium.
            <div class="col-lg-12">
                <a href="#" class="btn btn-primary">
                Learn More
                </a>
            </div>
            </p>
        </div>
    </div>
</section> -->
<section>
</section>
<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <ul>
        <li class="col-lg-3">
          <span>Footer Header</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti debitis odit esse eaque ut. Nobis eius quaerat suscipit nostrum, inventore adipisci recusandae vero, veniam magnam et officia veritatis aliquid numquam!</p>
        </li>
        <li class="col-lg-3">
          <span>Footer Header</span>
          <p>Nesciunt assumenda est omnis hic, ratione optio molestiae consequuntur maiores, non deserunt similique enim ad molestias, vel dolores labore excepturi. Saepe vero quos vel, quae mollitia accusantium fugiat assumenda nesciunt.</p>
        </li>
        <li class="col-lg-3">
          <span>Footer Headering</span>
          <p>Laboriosam, ut! Repellendus pariatur, debitis ratione enim mollitia accusamus, laudantium, quisquam corrupti sapiente sunt perferendis quia quis rerum minima? Deserunt, perferendis. Eveniet inventore quas harum beatae reprehenderit maiores, quibusdam repellat.</p>
        </li>
        <li class="col-lg-3">
          <span>Another Heading</span>
          <p>Voluptatibus recusandae aperiam adipisci unde! Veritatis sequi sit dolores enim maiores mollitia possimus quisquam ut ipsum omnis, veniam eum tenetur, rem officia ab illum facilis deserunt minus provident odio quo.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="small-footer" class="container-fluid outside-footer bg-grey ">
  <footer class="footer">
      <div class="container">
       
        <p>@ copyright 2015 | </p>
      </div>
    </footer>
  </div>
		<script src="/MIT04331/render/assets/js/main.js"></script>
	</body>	
</html>