<!DOCTYPE html>
<html class=" -class ">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Wireframe | Surge Media | Surge Media</title>

		<!-- Bootstrap CSS -->
		<link href="/MIT04331/render/skin.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

<nav id="navbar" class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://bootswatch.com/default/#">Mitchell And Associates Accountants</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"  href="/MIT04331/render/templates/home.html">Home</a></li>
                <li><a  href="#">About</a>
                    <ul class="dropdown-menu">
                        <li><a href="/MIT04331/render/templates/about.html">About M&amp;A</a></li>
                        <li><a href="/MIT04331/render/templates/resources.html">About M&amp;A</a></li>
                    </ul>
                </li>
                <li><a  class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" href="#">Services</a>
                    <ul class="dropdown-menu">
                        <li><a href="/MIT04331/render/templates/services.html">Non-Busniess</a></li>
                        <li><a href="/MIT04331/render/templates/services.html">Business</a></li>
                        <li><a href="/MIT04331/render/templates/services.html">Financial Planning</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Resources</a>
                    <ul class="dropdown-menu">
                        <li><a href="/MIT04331/render/templates/resources.html">Articles</a></li>
                        <li><a href="/MIT04331/render/templates/about.html">Newsletter</a></li>
                        <li><a href="/MIT04331/render/templates/about.html">Useful Links</a></li>
                        <li><a href="/MIT04331/render/templates/contact.html">Forms</a></li>
                    </ul>
                </li>
                <li><a href="/MIT04331/render/templates/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="jumbotron-home" class="jumbotron img-bg"  style="background:url('https://unsplash.it/1920/600?image=563')">
 <div class="container">
  <h1>Resources</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum numquam dicta ut, quisquam in, consectetur vitae tempore odio corporis labore saepe perferendis fuga neque, debitis ab voluptates minus ratione.</p>
  <!-- <p><a href="  " class="btn btn-primary btn-lg">Start with someone You Can Trust</a></p> -->
  </div>
</div>
<section id="card-area" class="bg-grey">
    <div class="container ">
    <div class="row">
        <div class="card post col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=111" alt="">
        	<header>
        		<h2>Example Post</h2>
        		<span class="space">
        			<b>Posted by</b>
        		</span>
        		<span>John Doe</span>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        			<i class="pull-right fa fa-eye"></i>
        		</a>
        	</footer>
        </div>
        <div class="card post col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=122" alt="">
        	<header>
        		<h2>Example Post</h2>
        		<span class="space">
        			<b>Posted by</b>
        		</span>
        		<span>John Doe</span>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        			<i class="pull-right fa fa-eye"></i>
        		</a>
        	</footer>
        </div>
        <div class="card post col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=133" alt="">
        	<header>
        		<h2>Example Post</h2>
        		<span class="space">
        			<b>Posted by</b>
        		</span>
        		<span>John Doe</span>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        			<i class="pull-right fa fa-eye"></i>
        		</a>
        	</footer>
        </div>
</div>
<div class="row">
        <div class="card post col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=101" alt="">
        	<header>
        		<h2>Example Post</h2>
        		<span class="space">
        			<b>Posted by</b>
        		</span>
        		<span>John Doe</span>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        			<i class="pull-right fa fa-eye"></i>
        		</a>
        	</footer>
        </div>
        <div class="card post col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=102" alt="">
        	<header>
        		<h2>Example Post</h2>
        		<span class="space">
        			<b>Posted by</b>
        		</span>
        		<span>John Doe</span>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        			<i class="pull-right fa fa-eye"></i>
        		</a>
        	</footer>
        </div>
        <div class="card post col-sm-12 col-xs-12 col-md-4 col-lg-4">
        	<img class="img" src="https://unsplash.it/315/190?image=103" alt="">
        	<header>
        		<h2>Example Post</h2>
        		<span class="space">
        			<b>Posted by</b>
        		</span>
        		<span>John Doe</span>
        	</header>
        		<p>Lorem ipsum Excepteur nostrud sed dolore ut ullamco magna proident adipisicing cupidatat quis.</p>
        	<footer>
        		<a href="">
        			<b class="pull-left">Read more</b>
        			<i class="pull-right fa fa-eye"></i>
        		</a>
        	</footer>
        </div>
</div>
    </div>
</section>


<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <ul>
        <li class="col-lg-3">
          <span>Footer Header</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti debitis odit esse eaque ut. Nobis eius quaerat suscipit nostrum, inventore adipisci recusandae vero, veniam magnam et officia veritatis aliquid numquam!</p>
        </li>
        <li class="col-lg-3">
          <span>Footer Header</span>
          <p>Nesciunt assumenda est omnis hic, ratione optio molestiae consequuntur maiores, non deserunt similique enim ad molestias, vel dolores labore excepturi. Saepe vero quos vel, quae mollitia accusantium fugiat assumenda nesciunt.</p>
        </li>
        <li class="col-lg-3">
          <span>Footer Headering</span>
          <p>Laboriosam, ut! Repellendus pariatur, debitis ratione enim mollitia accusamus, laudantium, quisquam corrupti sapiente sunt perferendis quia quis rerum minima? Deserunt, perferendis. Eveniet inventore quas harum beatae reprehenderit maiores, quibusdam repellat.</p>
        </li>
        <li class="col-lg-3">
          <span>Another Heading</span>
          <p>Voluptatibus recusandae aperiam adipisci unde! Veritatis sequi sit dolores enim maiores mollitia possimus quisquam ut ipsum omnis, veniam eum tenetur, rem officia ab illum facilis deserunt minus provident odio quo.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="small-footer" class="container-fluid outside-footer bg-grey ">
  <footer class="footer">
      <div class="container">
       
        <p>@ copyright 2015 | </p>
      </div>
    </footer>
  </div>
<script src="/MIT04331/render/assets/js/main.js"></script>
<script type='text/javascript'>
(function (d, t) {
var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
bh.type = 'text/javascript';
bh.src = '//www.bugherd.com/sidebarv2.js?apikey=7yxbwuxj56n8mqrf9oyjwg';
s.parentNode.insertBefore(bh, s);
})(document, 'script');
</script>
</body>
</html>