/*===================================
=            Primary Nav            =
===================================*/
.brand{
	margin-top:2em;
}
.navbar-default{
	margin-top:2em;
}
.contact-icons{
	span {
	font-size: 1.5em;
  line-height: 2;
  vertical-align: baseline;
  }
}