.card{
	height: 550px;
	padding: 1.5em;
	.sub-background{
		padding: 1.5em;
		background: #fff;
		opacity: .8;
		line-height: 1.8;
		transition: all ease 0.3s;
		display: block;
			 text-decoration: none;
			 color: #333;
		
		ul{
			padding-top: .7em;
			list-style: none;
			padding-left:0;
			li:before{
				content: '•';
			}
		}
		.read-more{
			width: 100%;
	    border: 2px solid grey;
	    height: 60px;
	    display: inline-block;
	    padding: .8em;
	    color: #333;
	   
			
		}
		
	}

}
.loading{
	background-image: url("../images/dashinfinity.gif");
	background-size: 100%;
	width: 50px;
	height: 50px;
	display:none;
	&.show{
		display:inline-block;
	}
}
.services{
	padding-top: 3em;
	padding-bottom: 3em;
}

.service-row{
	min-height:850px;
	padding: 4em 0;
	
	.header{
		
	}
	.services-section{
		margin-top: 3em;
	}
}